# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

debian
doc
.idea
.gitignore
odoo.conf
odoo/addons/test_access_rights
odoo/addons/test_action_bindings
odoo/addons/test_assetsbundle
odoo/addons/test_convert
odoo/addons/test_converter
odoo/addons/test_documentation_examples
odoo/addons/test_exceptions
odoo/addons/test_impex
odoo/addons/test_inherit
odoo/addons/test_inherits
odoo/addons/test_inherits_depends
odoo/addons/test_limits
odoo/addons/test_lint
odoo/addons/test_main_flows
odoo/addons/test_mimetypes
odoo/addons/test_new_api
odoo/addons/test_performance
odoo/addons/test_read_group
odoo/addons/test_rpc
odoo/addons/test_testing_utilities
odoo/addons/test_translation_import
odoo/addons/test_uninstall
.DS_Store
addons/.DS_Store